body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

form input,
form button {
    width: calc(100% - 12px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: black;
}

form input:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

p{
    color: rgb(12, 241, 12);
    margin-left: 500px;
    font-weight: bold;
    font-size: large;
}

a 
{
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-left: 500px ;
    font-weight: bold;
    font-size: large;
}
